.body {
  background-color: #9f9ed9;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 2vmin);
  color: black;
}


